.invenShopfy-header-shortmenu {
    @apply relative z-[9];
    @media (max-width: 359px) {
        @apply hidden;
    }
}
.invenShopfy-header-language-content {
    & ul {
        & li {
            @apply leading-none;
        }
    }
    i {
        @apply text-body text-[14px];
    }
}
.invenShopfy-header-language-content {
	transform: translateY(-2px);
}
.invenShopfy-header-bar {
    @apply leading-none;
}
.custom-height-70 {
    @apply h-[70px];
}
.invenShopfy-header-notify-wrapper {
    & svg {
        @apply min-w-[18px];
    }
}
.invenShopfy-header-profile-info {
    & i {
        @apply text-[16px] absolute top-[5px] end-0 text-heading;
    }
}
.invenShopfy-header-bar span {
    @apply mb-[1px];
}
.invenShopfy-quick-pro-dropdown {
    i {
        @apply me-1;
    }
}
//shortcut dropdown
.invenShopfy-quick-dropdown {
    @apply absolute top-full start-0 w-[220px] z-[9] border border-solid border-border py-3 px-5 bg-white opacity-0 invisible;
    box-shadow: 0px 20px 40px rgba(18, 42, 91, 0.05);
    transform: scale(0);
    &.shortmenu-enable,
    &.langmenu-enable,
    &.promenu-enable {
        @apply opacity-100;
        @apply visible;
        transform: scale(1);
    }
    ul {
        li {
            @apply py-2;
            a {
                @apply text-[14px] font-normal text-body inline-block;
                transition: all linear 0.3s;
                &:hover {
                    @apply text-primary;
                }
            }
        }
    }
}
.invenShopfy-quick-lang-dropdown {
    @apply w-[160px];
    &.langmenu-enable {
        @apply start-auto;
        @apply end-0 top-[45px];
    }
}
.invenShopfy-quick-pro-dropdown {
    @apply w-[195px];
    &.promenu-enable {
        @apply start-auto;
        @apply end-0 top-[59px];
    }
}
.invenShopfy-quick-pro-dropdown {
    & a {
        @apply inline-flex items-center;
        .mat-icon {
            width: 24px !important;
            @apply text-[16px];
            transform: translateY(3px);
        }
    }
}
// notify dropdown
.invenShopfy-notify-dropdown-list {
    .invenShopfy-notify-img {
        @apply w-[50px] rounded-[5px] me-4;
    }
    .invenShopfy-notify-text {
        h6 {
            @apply text-[14px] font-semibold text-heading mb-2;
        }
        span {
            @apply text-[12px] font-normal text-body block;
        }
    }
}
.invenShopfy-notify-dropdown-list a {
    @apply text-body inline-flex;
    &:hover {
        @apply text-primary;
    }
    & .mat-icon {
        @apply text-[16px] ms-1;
    }
}
// header-shortmenu
.invenShopfy-header-shortmenu {
    a.short {
        @apply z-[9] relative;
    }
}
.invenShopfy-header-profile {
    @apply z-[9] relative;
}
.invenShopfy-header-notification {
    .noti {
        @apply z-[9] relative text-[20px] text-body leading-none hover:text-primary;
    }
}
.invenShopfy-header-email {
    .emai {
        @apply z-[9] relative text-[20px] text-body leading-none hover:text-primary;
    }
}
.invenShopfy-header-language {
    @apply cursor-pointer z-[9] relative;
}
.invenShopfy-quick-dropdown,
.invenShopfy-notify-dropdown {
    @apply z-[9];
}
.invenShopfy-header-overlay.promenu-enable,
.invenShopfy-header-overlay.shortmenu-enable,
.invenShopfy-header-overlay.notifydropdown-enable,
.invenShopfy-header-overlay.emaildropdown-enable,
.invenShopfy-header-overlay.langmenu-enable {
    @apply block;
}
.invenShopfy-header-overlay {
    @apply fixed hidden top-0 start-0 end-0 w-full h-full z-[8];
}

.invenShopfy-sidebar-icon-bar {
    @apply inline-flex h-10 w-10 cursor-pointer bg-lightest justify-center items-center rounded border-border border;
    i {
        @apply text-heading text-[20px];
    }
}
.invenShopfy-header-language:hover {
    i,button {
        @apply text-primary;
    }
}

// NotificationStyle
.invenShopfy-notify-dropdown {
    @apply absolute top-[45px] start-0 z-[9] w-[300px] bg-white p-[20px] maxSm:w-[290px] shadow-[0_0px_70px_rgb(15,38,71,0.2)];
    ul {
        li {
            &:not(:last-child) {
                @apply mb-[10px];
            }
        }
    }
}
.invenShopfy-notify-dropdown-item {
    @apply flex items-start gap-[10px];
    .thumb {
        @apply w-[58px] h-[58px] min-w-[58px] rounded;
    }
    .content {
        h6 {
            a {
                @apply text-[14px] font-semibold mb-[2px] text-heading leading-[1.3] hover:text-primary transition duration-300 ease-in-out font-primary;
            }
        }
        span {
            @apply text-[12px] text-heading; 
        }
    }
}
.invenShopfy-notify-dropdown {
    transform: scale(0);
    visibility: hidden;
    &.notifydropdown-enable,
    &.emaildropdown-enable {
        @apply visible;
        transform: scale(1);
        @media (max-width: 1400px) {
            @apply start-auto;
            @apply end-0;
        }
    }
    &.notifydropdown-enable {
        @media (max-width: 400px) {
            @apply start-auto end-[-80px];
        }
        @media (max-width: 360px) {
            @apply start-auto end-[-130px];
        }
    }
    &.emaildropdown-enable {
        @media (max-width: 400px) {
            @apply start-auto end-[-40px];
        }
        @media (max-width: 360px) {
            @apply start-auto end-[-90px];
        }
    }
}