//Generatebarcode style
.invenShopfy-addsale-product-list {
    @apply flex;
}
.invenShopfy-addsale-product-name,
.invenShopfy-addsale-product-code,
.invenShopfy-addsale-product-qty,
.invenShopfy-addsale-product-action {
    @apply flex flex-col justify-center h-full max2Xl:ps-2;
}
.invenShopfy-barcode-print-checkbox {
	label {
		@apply inline-flex ms-1 cursor-pointer;
	}
	input {
		@apply translate-x-[-1px];
	}
}
.invenShopfy-addsale-product-qty {
	button {
		@apply h-[30px] w-[30px] border-2 border-[#C1D5FE] text-primary inline-flex items-center justify-center rounded-[3px];
		&:hover{
			@apply text-white bg-primary border-primary;
		}
	}
	p {
		@apply text-[14px] ps-[.75rem] pe-[.75rem];
	}
}

.search-dropdown {
    @apply bg-white border border-border rounded-lg shadow-lg p-4 relative;
    max-height: 300px; /* Adjusted height for usability */
    overflow-y: auto;
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: #c1c1c1 #f5f5f5;

    /* Scrollbar styling for WebKit browsers */
    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-track {
        @apply bg-gray;
    }

    &::-webkit-scrollbar-thumb {
        @apply bg-gray rounded-full;
        &:hover {
            @apply bg-gray;
        }
    }

    ul {
        @apply space-y-3;
        li {
            @apply flex items-center gap-4 p-2 border border-transparent rounded-md cursor-pointer transition-all;
            &:hover {
                @apply bg-slate-50 border-slate-200 shadow-sm;
            }
            &.active {
                @apply bg-slate-200 border-slate-300 font-semibold;
            }
            .search-img {
                @apply w-[40px] h-[40px] bg-slate-100 rounded-md flex justify-center items-center;
                img {
                    @apply w-full h-full object-cover;
                }
            }
            .title {
                @apply text-[14px] font-medium text-heading truncate;
            }
        }
    }
}

.search-field {
    @apply relative;
    .search-close {
        @apply absolute top-2 right-2 text-heading hover:text-gray cursor-pointer text-lg transition-colors;
    }
}