.invenShopfy-invoice-popup-address {
    h5 {
        @apply text-[16px] font-bold text-heading mb-4;
    }
    ul {
        li {
            @apply text-[14px] font-bold text-heading mb-2 last:mb-0;
            span {
                @apply text-[14px] font-normal text-body;
            }
        }
    }
}

.invenShopfy-invoice-table-list {
    @apply flex items-center border-b border-solid border-border; 
}
.invenShopfy-invoice-table-sl,
.invenShopfy-invoice-table-sll,
.invenShopfy-invoice-table-product,
.invenShopfy-invoice-table-batch,
.invenShopfy-invoice-table-unit,
.invenShopfy-invoice-table-price,
.invenShopfy-invoice-table-qty,
.invenShopfy-invoice-table-tax,
.invenShopfy-invoice-table-discount,
.invenShopfy-invoice-table-total {
    @apply flex justify-center flex-col h-full px-2.5;
    h5 {
        @apply text-[15px] font-semibold text-heading;
    }
    span {
        @apply text-[14px] font-normal text-body;
    }
}

.invenShopfy-invoice-table-sl {
    @apply min-w-[40px] w-10;
  }
.invenShopfy-invoice-table-product {
    @apply min-w-[170px] w-[170px];
}
.invenShopfy-invoice-table-sll {
    @apply min-w-[209px] w-[209px];
}
.invenShopfy-invoice-table-batch {
    @apply min-w-[95px] w-[95px];
}
.invenShopfy-invoice-table-unit {
    @apply min-w-[50px] w-[50px];
}
.invenShopfy-invoice-table-price {
    @apply min-w-[90px] w-[90px];
}
.invenShopfy-invoice-table-qty {
    @apply min-w-[50px] w-[50px];
}
.invenShopfy-invoice-table-tax {
    @apply min-w-[90px] w-[90px];
}
.invenShopfy-invoice-table-discount {
    @apply min-w-[90px] w-[90px];
}
.invenShopfy-invoice-table-total {
    @apply border-e-0;
}
.custom-height-70 {
    @apply h-[70px];
}
.invenShopfy-invoice-popup-btn.invenShopfy-table-header-search-action-btn {
    @apply flex flex-wrap gap-4 justify-end;
}
.invenShopfy-invoice-popup-btn.invenShopfy-table-header-search-action-btn button {
    width: inherit;
    @apply px-4 inline-flex items-center m-0 text-[14px] font-semibold leading-[38px];
    & svg {
        @apply me-2.5;
      }
    &.printer {
        @apply text-primary border rounded-[4px] border-primary;
    }
    &.pdf {
        @apply text-warning border rounded-[4px] border-warning;
    }
    &.cancel {
        @apply text-danger border rounded-[4px] border-danger;
    }
}
.invenShopfy-invoice-table-inner {
	@media (max-width: 991px) {
		overflow-x: auto;
		scrollbar-height: thin;
	}
}
.invenShopfy-invoice-table-inner-wrapper {
	@media (max-width: 991px) {
		min-width: 100%;
        width: 740px;
		scrollbar-height: thin;
	}
}
.invenShopfy-invoice-popup-heading {
    ul {
        li {
            @apply border-e-0;
            span {
                @apply p-0;
            }
        }
    }
}