.invenShopfy-role-category h5 {
    @apply text-[15px] font-semibold text-heading;
}
.invenShopfy-role-left {
	@apply min-w-[250px] w-[250px] ps-7 h-full;
    @media (min-width: 1201px) and (max-width: 1600px) {
        @apply min-w-[210px] w-[210px];
    }
    @media (min-width: 992px) and (max-width: 1200px) {
        @apply min-w-[180px] w-[180px] ps-4;
    }
    @media (max-width: 991px) {
        @apply min-w-[180px] w-[180px] ps-4;
    }
}
.invenShopfy-role-category {
	@apply  min-w-[250px] w-[250px] ps-7 border-e border-solid border-border h-full flex flex-col justify-center;
    @media (min-width: 1201px) and (max-width: 1600px) {
        @apply min-w-[210px] w-[210px];
    }
    @media (min-width: 992px) and (max-width: 1200px) {
        @apply min-w-[180px] w-[180px] ps-4;
    }
    @media (min-width: 768px) and (max-width: 991px) {
        @apply min-w-[180px] w-[180px] ps-4;
    }
    @media (max-width: 991px) {
        @apply border-e-0 w-full min-w-full h-auto ps-4;
    }
}
.invenShopfy-role-checkbox-wrapper {
    @apply flex items-center w-full px-7 justify-between maxLg:flex-wrap;
    @media (max-width: 1200px) {
        @apply ps-4;
    }
	&.invenShopfy-role-checkbox-wrapper2 {
        @apply minMaxLg:justify-start minMaxLg:flex-wrap minMaxLg:self-stretch ;
		.invenShopfy-checkbox-style {
			@apply basis-2/4 lg:basis-4/12  ;
		}
	}
}
.invenShopfy-role-category-list.custom-height-50 {
    @media (max-width: 1200px) {
        @apply h-[100px];
    }
}
.invenShopfy-role-category-list {
    @media (max-width: 991px) {
        display: inherit;
        @apply flex flex-col justify-center;
        & h5 {
            @apply mb-2.5;
        }
    }
}
.invenShopfy-role-inner {
	@media (max-width: 1199px) {
        @apply overflow-x-auto;
		scrollbar-height: thin;
	}
}
.invenShopfy-role-inner-wrapper {
	@media (max-width: 767px) {
        @apply w-[650px] min-w-[100%];
		scrollbar-height: thin;
	}
}